<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STarBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C331C41B1CBB95BB0007401C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C331C42C1CBB95BB0007401C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C331C4371CBB95BB0007401C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
